{% if not (theme_config.hide_site_title) %}
  <p><div style="margin-bottom: -4rem;">&nbsp;</div></p>
  <h4><b>{{config.site.title}}</b></h4>
  <p><div style="margin-top: -4rem;">&nbsp;</div></p>
{% endif %}
